@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

*{
    font-family: Oswald;
    padding:0; 
    margin:0;
}

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: whitesmoke;
  }
  
  .center {
    text-align: center;
  }

  .header {
    color: beige;
    background-color:teal;
    padding: 20px;
    text-align: center;
  }
  
  .navegacion {
    overflow: hidden;
    background-color:darksalmon;
  }
  
  .navegacion a {
    float: left;
    display: block;
    color: beige;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navegacion a:hover {
    background-color: whitesmoke;
    color: black;
  }
  
  #tabla1 {
    font-family: Helvetica;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tabla1 td, #tabla1 th {
    border: 1px solid beige;
    padding: 8px;
  }
  
  #tabla1 tr:nth-child(even){background-color: beige;}
  
  #tabla1 tr:hover {background-color: beige;}
  
  #tabla1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:lightsalmon;
    color: beige;
  }

  #tabla2 {
    font-family: Helvetica;
    border-collapse: collapse;
    width: 100%;
  }
  
  #tabla2 td, #tabla2 th {
    border: 1px solid beige;
    padding: 8px;
  }
  
  #tabla2 tr:nth-child(even){background-color: beige;}
  
  #tabla2 tr:hover {background-color: beige;}
  
  #tabla2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:lightseagreen;
    color: beige;
  }

  .espacio{
      visibility: hidden;
  }

  ul{
      background: paleturquoise;
      padding: 20px;
  }

  ol{
    background: beige ;
      padding: 20px;
  }

  ol li {
    background: paleturquoise;
    padding: 5px;
    margin-left: 35px;
  }
  .column {
    float: left;
    padding: 10px;
  }

  .column.side {
    width: 25%;
  }
  
  .column.middle {
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }

  img{ 
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }