<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <h1>María Fernanda Rivas Lima</h1>
        <p>Estudiante de Tercer Año de Ingeniería de Negocios</p>
    </div>

    <div class="navegacion">
        <a href="http://127.0.0.1:5000">Página Principal</a>
        <a href="http://127.0.0.1:5000/aboutme">Información</a>
        <a href="http://127.0.0.1:5000/services">Servicios y Habilidades</a>
        <a href="http://127.0.0.1:5000/contact">Contactarme</a>
    </div>

    <h1>¿Cómo contactarme?</h1>

    <h2>Telefono</h2>
    <p>+503 7877 5631</p>

    <h2>Correo Electrónico</h2>
    <p>20205735@esen.edu.sv</p>
</body>

</html>