<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios y Habilidades</title>
</head>

<body>
    <h1>Servicio y Habilidades</h1>

    <h2><a href="http://127.0.0.1:5000">Regresar a la página principal</a></h2>

    <h2>Habilidades</h2>
    <ul>
        <li>Liderazgo</li>
        <li>Coordación</li>
        <li>Manipulación Intermedia/Avanzada de:</li>
        <ul>
            <li>Zoom</li>
            <li>Canva</li>
        </ul>
        <li>Conocimiento basicos de:
            <ul>
                <li>Herramientas Microsoft (Word, PowerPoint, Excel)</li>
                <li>SQL</li>
                <li>Python</li>
            </ul>
        </li>
    </ul>


    <h2>Lenguajes</h2>
    <ul>
        <li>Español - Nativo</li>
        <li>Ingles - Avanzado</li>
        <li>Francés - Basico/Intermedio</li>
    </ul>

    <table>
        <caption>
            <h2>Certificados</h2>
        </caption>
        <tr>
            <th>Nombre de Certificado</th>
            <th>Descripción</th>
        </tr>
        <tr>
            <td>AP Scholar with Distinction</td>
            <td>Ser un estudiante con notas sobresalientes en las clases de "Advanced Placement" para las siguientes
                materias:
                <ul style="list-style-type:none;">
                    <li>AP Comparative Government and Politics </li>
                    <li>AP Environmental Science</li>
                    <li>AP French Language and Culture </li>
                    <li>AP Macroeconomics </li>
                    <li>AP Microeconomics </li>
            </td>
        </tr>
    </table>


</body>

</html>